In [19]:
from collections import OrderedDict
from itertools import repeat
from pandas import DataFrame, read_csv

In [11]:
k = OrderedDict([(('a', 'b'), 'log_sigmoid'),
             (('a', ('a', 'b')), 'tanh'),
             (('b', ('a', ('a', 'b'))), 'celu'),
             (('a', ('b', ('a', ('a', 'b')))), 'tanh'),
             (('b', ('b', ('a', ('a', 'b')))), 'relu'),
             ((('a', 'b'), ('b', ('a', ('a', 'b')))), 'sigmoid')])

In [13]:
m = list(zip(k.items(), repeat(80)))
m

[((('a', 'b'), 'log_sigmoid'), 80),
 ((('a', ('a', 'b')), 'tanh'), 80),
 ((('b', ('a', ('a', 'b'))), 'celu'), 80),
 ((('a', ('b', ('a', ('a', 'b')))), 'tanh'), 80),
 ((('b', ('b', ('a', ('a', 'b')))), 'relu'), 80),
 (((('a', 'b'), ('b', ('a', ('a', 'b')))), 'sigmoid'), 80)]

In [18]:
DataFrame([m, m]).T

                                                   0                                                  1
0                        (((a, b), log_sigmoid), 80)                        (((a, b), log_sigmoid), 80)
1                      (((a, ('a', 'b')), tanh), 80)                      (((a, ('a', 'b')), tanh), 80)
2               (((b, ('a', ('a', 'b'))), celu), 80)               (((b, ('a', ('a', 'b'))), celu), 80)
3        (((a, ('b', ('a', ('a', 'b')))), tanh), 80)        (((a, ('b', ('a', ('a', 'b')))), tanh), 80)
4        (((b, ('b', ('a', ('a', 'b')))), relu), 80)        (((b, ('b', ('a', ('a', 'b')))), relu), 80)
5  (((('a', 'b'), ('b', ('a', ('a', 'b')))), sigm...  (((('a', 'b'), ('b', ('a', ('a', 'b')))), sigm...

In [40]:
df = read_csv('temp2.csv')
df.columns = ['_', 'node', 'descr', 'acc']
df

      _  node                                             descr        acc
0     0     0                               (('a', 'b'), 'elu')  15.124199
1     1     1                (('b', ('a', 'b')), 'log_sigmoid')  15.124199
2     2     2  ((('a', 'b'), ('b', ('a', 'b'))), 'log_sigmoid')  15.124199
3     3     3                (('b', ('b', ('a', 'b'))), 'celu')  15.124199
4     4     4         (('b', ('b', ('b', ('a', 'b')))), 'selu')  15.124199
...  ..   ...                                               ...        ...
1195  1     1                   (('a', ('a', 'b')), 'softplus')  13.251202
1196  2     2  ((('a', 'b'), ('a', ('a', 'b'))), 'log_sigmoid')  13.251202
1197  3     3                (('a', ('a', ('a', 'b'))), 'celu')  13.251202
1198  4     4      (('b', ('a', ('a', ('a', 'b')))), 'sigmoid')  13.251202
1199  5     5            (('b', ('a', ('a', 'b'))), 'softplus')  13.251202

[1200 rows x 4 columns]

In [41]:
DataFrame([df.groupby(['node', 'descr']).mean()['acc'][0], df.groupby(['node', 'descr']).std()['acc'][0]]).T

                                   acc        acc
descr
(('a', 'b'), 'celu')         43.638953  21.814920
(('a', 'b'), 'elu')          40.066175  24.098831
(('a', 'b'), 'log_sigmoid')  59.231613  21.719702
(('a', 'b'), 'relu')         46.378581  24.380693
(('a', 'b'), 'selu')         43.883964  23.210337
(('a', 'b'), 'sigmoid')      70.721302  15.054402
(('a', 'b'), 'softplus')     46.239773  24.919707
(('a', 'b'), 'softsign')     58.670063  17.524201
(('a', 'b'), 'tanh')         54.563210  10.968114

In [42]:
DataFrame([df.groupby(['node', 'descr']).mean()['acc'][1], df.groupby(['node', 'descr']).std()['acc'][1]]).T

                                          acc        acc
descr
(('a', ('a', 'b')), 'celu')         42.100694  22.438297
(('a', ('a', 'b')), 'elu')          60.926232  21.161791
(('a', ('a', 'b')), 'log_sigmoid')  56.162360  26.710471
(('a', ('a', 'b')), 'relu')         52.666767  28.338185
(('a', ('a', 'b')), 'selu')         41.207265  25.121664
(('a', ('a', 'b')), 'sigmoid')      58.271568  16.584077
(('a', ('a', 'b')), 'softplus')     43.956998  23.088985
(('a', ('a', 'b')), 'softsign')     60.135105  11.903202
(('a', ('a', 'b')), 'tanh')         57.119168  11.053681
(('b', ('a', 'b')), 'celu')         48.501448  25.633787
(('b', ('a', 'b')), 'elu')          45.985005  20.466610
(('b', ('a', 'b')), 'log_sigmoid')  29.998907  24.265174
(('b', ('a', 'b')), 'relu')         46.637347  23.604932
(('b', ('a', 'b')), 'selu')         42.692308  21.083770
(('b', ('a', 'b')), 'sigmoid')      68.585121  12.785597
(('b', ('a', 'b')), 'softplus')     39.216079  28.776853
(('b', ('a', 'b')), 'softsign')     69.705529   6.130731
(('b', ('a', 'b')), 'tanh')         62.835537  12.719708